<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.springbootadmintemplate.mapper.UserRoleMapper">

    <resultMap id="BaseResultMap" type="com.admin.springbootadmintemplate.entity.UserRole">
            <id property="id" column="ID" jdbcType="INTEGER"/>
            <result property="userid" column="UserID" jdbcType="INTEGER"/>
            <result property="roleid" column="RoleID" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,UserID,RoleID
    </sql>
</mapper>
